<form ng-controller="cart" name="item" class="itemForm" ng-submit="addProduct()">
        <div class="modal fade" tabindex="-1" id="productModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ itemInfo.product.name | capitalize }}</h4>
                    </div>

                    <div class="modal-body" style="max-height:400px; overflow-y: scroll;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ itemInfo.product.pro_description }}
                                </div>

                                <div class="col-xs-12" style="margin:10px 0" data-ng-repeat="(category, subItem) in itemInfo.subItems">
                                    <span style="font-weight:bold">{{ category | capitalize }}:</span>
                                    <div class="col-xs-12" data-ng-repeat="categoryValue in subItem">
                                        <input type="{{ categoryValue.subitem_type }}" name="{{ category }}" value="{{ categoryValue.subitemid }}">
                                        <span> {{ categoryValue.item_name | capitalize }}</span>
                                        <span data-ng-if="categoryValue.item_price != null"> (<i class="fa fa-inr"></i> {{ categoryValue.item_price }}.00)</span>
                                    </div>

                                </div>

                                <br data-ng-if="itemInfo.product.pro_description != null">
                                <br data-ng-if="itemInfo.product.pro_description != null">

                                <div data-ng-if="itemInfo.product.food_diet.length == 1">
                                    <div class="col-xs-12" style="margin:10px 0">
                                        <span style="font-weight:bold">Food Diet: </span>

                                        <span>{{ itemInfo.product.food_diet[0] | capitalize }}</span>
                                    </div>
                                    <input type="hidden" name="food_diet" value="{{ itemInfo.product.food_diet[0] }}">
                                </div>

                                <div data-ng-if="itemInfo.product.food_diet.length != 1">
                                    <div class="col-xs-12" style="margin:10px 0">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default-edit" data-ng-repeat="diet in itemInfo.product.food_diet" data-ng-class="diet.toLowerCase() == 'vegetarian' ? 'active' : ''">
                                                <input data-ng-if="diet.toLowerCase() == 'vegetarian'" checked type="radio" name="food_diet" value="{{ diet | capitalize }}" >
                                                <input data-ng-if="diet.toLowerCase() != 'vegetarian'" type="radio" name="food_diet" value="{{ diet | capitalize }}" >
                                                {{ diet | capitalize }}
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div data-ng-if="itemInfo.product.food_taste.length == 1">
                                    <div class="col-xs-12" style="margin:10px 0">
                                        <span style="font-weight:bold">Food taste: </span>

                                        <span>{{ itemInfo.product.food_taste[0] | capitalize }}</span>
                                    </div>
                                    <input type="hidden" name="food_taste" value="{{ itemInfo.product.food_taste[0] }}">
                                </div>

                                <div data-ng-if="itemInfo.product.food_taste.length != 1">
                                    <div class="col-xs-12" style="margin:10px 0">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default-edit" data-ng-repeat="taste in itemInfo.product.food_taste" data-ng-class="taste.toLowerCase() == 'medium' ? 'active' : ''">
                                                <input data-ng-if="taste.toLowerCase() == 'medium'" checked type="radio" name="food_taste" value="{{ taste | capitalize }}" >
                                                <input data-ng-if="taste.toLowerCase() != 'medium'" type="radio" name="food_taste" value="{{ taste | capitalize }}" >
                                                {{ taste | capitalize }}
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
			   			        
                            <input type="hidden" name="itemid" value="{{ itemInfo.product.id }}">
                            <span style="float:left">
                                Qty
                                <input type="text" name="qty" value="1" class="input_text_box item-modal-input product-detail-qty">
                                <i class="fa fa-inr"></i><span> {{ itemInfo.product.price }}</span>
                            </span>
                            
                       <button type="button" class="btn-edit btn-danger" data-dismiss="modal">Close</button>
                       <input type="submit" value="Add to cart" class="btn-edit btn-success">
                     </div>

                </div>
            </div>
        </div>
</form>